*
{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color:#00F9FF
   ;
}

#top-logo > img {
  max-width:100%;
  padding: 5px 0px;
}

/*--Top Address Bar --*/
#address-strip {
  height: 20px;
  color:#f40c84df;
  margin:2px 0px;
}

#address-strip > h6{
  font-family: cursive;
  color:#050003;
  display: block;
  background-color: #FFCC00;
  border-style: solid;
  border-width: 2px;
  position:center;
  text-align: center;
  font-weight:normal;
  padding: 2px;

}

#address-strip > img{
  height:25px;
}


/*--Nav Bar --*/
#navbar1 {
  display:block;
  max-width: 100%;
  background-color: #f40c84df;
  box-sizing: border-box;
}

#navbar1 > ul{
  display: inline-flex;
  list-style-type: none;
  text-decoration: none;
  color:#FFCC00;
  
  
}

#navbar1 > ul > li{
  font-family: cursive;
  font-weight: bold;
  list-style: none;
  height:25px;
  margin: 5px 5px;
  padding-left: 20px;
  padding-inline: 25px;
  padding-bottom: 0px;
  text-align: center;
  
}

#navbar1 > ul > li > a{
  text-decoration: none;
  color:#FFCC00;
  text-shadow: 2px 1px #050003;
  font-weight:bold;

}